
main{
    display: flex;
}

.conteinerNavio{
    width: 65%; // medida para largura é vw ou %
    height: 100vh; //medida para altura é vh ou
    background-image: url("../../assets/Tela Login/backgroundLogin.png");
    background-position: center; //Altera a imagem
    background-repeat: no-repeat;
}

.conteinerFormulario{
    width: 35%;
    height: 100vh; //Altura
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    width: 80%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

input{
    width: 90%;
    height: 4vh;
    border-radius: 6px;
}

div{
    width: 50%;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
}
}

.buttonEntrar{
    color: white;
    background-color: #001A3D;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
    padding: 10px 10px;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
}

.buttonEntrar:hover{
    background-color: #00BEDD;
    transition: 0,5s;
}

.buttonCriar{
    color: white;
    background-color: #00BEDD;
    padding: 10px 10px;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
}

.buttonCriar:hover{
    background-color: #001A3D;
    transition: 0,5s;
}

